// Adjust padding due to progress bar
@include media-breakpoint-up(md) {  
	#page-content {
		padding-top: 3.5rem;
	}
}

/// class to set up simple content max width
.content-856px-max {
	max-width: 856px;
	margin-left: auto;
	margin-right: auto;
}

// set h1 heading at top of the page to margin top 0
article h1:first-child {
	margin-top: 0;
}

// Set last item of ocntent in atclie to margin bottom zero
article:last-child {
	margin-bottom: 0;
}

.attribution {
	border-top: 1px solid $interface-grey;
	padding-top: 0.5rem;
}

.inline-icon {
	width: 2rem;
}


.btn-nav-prev, .btn-nav-next  {
	@include media-breakpoint-up(md) {  
		min-height: 94px;
	}
}

.border-top {
	border-top: 1px solid $interface-grey;
	padding-top: 0.5rem;
}

.link-large-list-2col {
	list-style-type: none;
	
	margin-top: 0 !important;
	padding: 0;

	li {
		padding: 0;

		p {
			margin-top: 0.5rem;
		}
	}

	@include media-breakpoint-up(md) {  
		columns: 2;
	}
}

//Support grid used in support and resources
.support-grid {
	margin-top: 1.5rem;
	column-gap: 2rem;
	div {
		h3 {
			margin-top: 0;
			margin-bottom: 0.5rem;
		}
		p:first-of-type {
			margin-top: 0;
		}
	}
}

.centre {
	text-align: center;
}

.transcript .accordion-body {
	text-align: left;
}

.btn-nav-container {
	//At a large breakpoint, remove seperator line
    @include media-breakpoint-down(xl) {
        padding-bottom: 0;
        border-bottom: solid 0px $interface-grey;
    }
}

//module nav beneath prev/next buttons - need active state

.module-nav .link-list li.active {
	margin-left: 2rem;

	::before {
		content: none;
	}

	a {
		color: $body-color;
		padding: 0.25rem 0.5rem;
		border-radius: 0.25rem;
		background-color: $underlay-grey;
	}

	a:hover {
		text-decoration: none !important;
		color: $body-color;
	}
}

.module-nav .link-list li.active::before {
		content: none;
}

// Dark mode
@include color-mode(dark) {
	.module-nav .link-list li.active {

	a {
		color: $body-color-dark;
		background-color: $underlay-grey-dark;
	}

	a:hover { color: $body-color-dark; }
}
}


//Image stuff - sort it out
// Dark mode
@include color-mode(dark) {

	//design system adds background to figure img
	main img {
        filter: brightness(0.9) contrast(0.9);	//drop the contrast in dark mode to reduce eye strain.
		background-color: transparent;		
    }

	.footer-container {
		img {
			filter: brightness(0.9) contrast(0.9);	//drop the contrast in dark mode to reduce eye strain.
		}
	}
}
