.build-system-frame {
	position: relative;
	border: 1px solid $interface-grey;
	border-radius: 4px;
	padding: 16px 24px;

	.heading {

		p { 
			margin-top: 4px;
			margin-bottom: 0;
		}
	}

	h2 {
		margin: 0;
	}

	.form-check {
		margin-bottom: 1rem;
		display: flex;
	}

	/* Increase spacing between radio and label text */
	.form-check-input + .form-check-label {
		margin-left: 0.75rem; /* adjust to taste */
	}


	.progress-next-question {
		margin-top: 1rem;
	}

	#build-q2-question-highlight {
		background-color: $underlay-selected;
		border-radius: 4px;
		padding: 2px 6px;
	}

	@include media-breakpoint-up(sm) { 
		padding: 32px 40px;

		.heading {
			position: relative;
			padding-left: 88px; /* 72px icon + some spacing */
			margin-bottom: 8px;

			min-height: 72px;

			p { 
				margin-top: 4px;
				margin-bottom: 0;
			}
		}

		/* The 72px square */
		.heading::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			width: 72px;
			height: 72px;
			transform: translateY(-50%);
			
			background-image: url(/skills-for-nd-students/images/time-management/build-system-icon@2x.png);
			background-size: cover;
			background-repeat: no-repeat; 
		}

		p.lead {
			margin-bottom: 1.5rem;
		}

		.option-container {
			columns: 2;
		}

		#build-q3 .option-container {
			columns: 1;
		}
	}

	#plan {
		margin-top: 1.5rem;
		border-top: 1px solid $interface-grey;

		h3 {
			margin-top: 1.5rem;
		}

		.info-technique {
			margin-top: 1.5rem;
			border-top: 1px solid $interface-grey;
		}

		.little-heading {
			@extend small;
			font-family: $font-family-sans-serif;
			margin-bottom: 0.5rem;
			color: $body-color;
		}

		.be-kind-rewind {
			margin-top: 1.5rem;
			border-top: 1px solid $interface-grey;
			padding-top: 1.5rem;
		}
	}
}

@include color-mode(dark) {
	//focus dark mode
	.ask-the-library a { @include default-focus('dark'); }

	.build-system-frame {
		#plan {
			.little-heading {
				@extend small;
				color: $body-color-dark;
			}
		}

		#build-q2-question-highlight {
			background-color: $underlay-selected-dark;
		}
	}


}

#plan {
	.prev-question {
		position: relative;
		margin-bottom: 2rem;
	}

	@include media-breakpoint-up(sm) { 
		.prev-question {
			position: absolute;
			margin-bottom: 0;
		}

		.btn-download {
			position: absolute;
			right: 0;
			top: 0;
			margin: 0;
		}
	}
}

.btn-download {
   @extend .btn-icon;
}

//Download button
.btn-download::before {
content: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E %3Cdefs%3E %3Cstyle%3E.st0 {         fill: %23e61f2a;       }%3C/style%3E %3C/defs%3E %3Cpath class='st0' d='M20,15l-3.5,3.5c0,0-.2.1-.2.2,0,0-.2,0-.3,0s-.2,0-.3,0c0,0-.2,0-.2-.2l-3.5-3.5c-.3-.3-.3-.8,0-1.1s.8-.3,1.1,0l2.2,2.2V8c0-.4.3-.8.8-.8s.8.3.8.8v8.2l2.2-2.2c.3-.3.8-.3,1.1,0s.3.8,0,1.1ZM24.8,21.8v-9.1c0-1.6-1.3-2.9-2.9-2.9s-.8.3-.8.8.3.8.8.8c.8,0,1.4.6,1.4,1.4v9.1c0,.8-.6,1.4-1.4,1.4h-11.7c-.8,0-1.4-.6-1.4-1.4v-9.1c0-.8.6-1.4,1.4-1.4s.8-.3.8-.8-.3-.8-.8-.8c-1.6,0-2.9,1.3-2.9,2.9v9.1c0,1.6,1.3,2.9,2.9,2.9h11.7c1.6,0,2.9-1.3,2.9-2.9Z'/%3E %3C/svg%3E");
}
// Dark Mode
@include color-mode(dark) {
.btn-download::before {
    content: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E %3Cdefs%3E %3Cstyle%3E.st0 {         fill: %23E6636A;       }%3C/style%3E %3C/defs%3E %3Cpath class='st0' d='M20,15l-3.5,3.5c0,0-.2.1-.2.2,0,0-.2,0-.3,0s-.2,0-.3,0c0,0-.2,0-.2-.2l-3.5-3.5c-.3-.3-.3-.8,0-1.1s.8-.3,1.1,0l2.2,2.2V8c0-.4.3-.8.8-.8s.8.3.8.8v8.2l2.2-2.2c.3-.3.8-.3,1.1,0s.3.8,0,1.1ZM24.8,21.8v-9.1c0-1.6-1.3-2.9-2.9-2.9s-.8.3-.8.8.3.8.8.8c.8,0,1.4.6,1.4,1.4v9.1c0,.8-.6,1.4-1.4,1.4h-11.7c-.8,0-1.4-.6-1.4-1.4v-9.1c0-.8.6-1.4,1.4-1.4s.8-.3.8-.8-.3-.8-.8-.8c-1.6,0-2.9,1.3-2.9,2.9v9.1c0,1.6,1.3,2.9,2.9,2.9h11.7c1.6,0,2.9-1.3,2.9-2.9Z'/%3E %3C/svg%3E");
}
}