.quiz-container {
	max-width: 856px;
	border: 1px solid $interface-grey;
	border-radius: 4px;
	padding: 0px 24px 32px 24px;
	margin-bottom: 2.5rem;
}


.likert-question {
	margin-bottom: 2.5rem;

	label {
		margin-top: 0;
		margin-bottom: 0.5rem;
		text-wrap-style: pretty;
	}

	.form-range {
		width: 100%;
		margin: 0;
	}

	.range-scale {
	margin: 0 2px;
	}

	
	.range-scale-numbers,
	.range-scale-labels {
	display: flex;
	justify-content: space-between;
	}

	.range-scale-labels {
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition:
		max-height 0.25s ease-out,
		opacity 0.25s ease-out;
	}

	/* Expanded row */
	.range-scale-labels.is-active {
	max-height: 1.5em; /* adjust as needed */
	opacity: 1;
	}

	.range-scale-labels span {
	white-space: nowrap;
	text-align: center;
	opacity: 0;
	transition: opacity 0.2s ease-out;
	}

	/* Visible labels */
	.range-scale-labels span.is-visible {
	opacity: 1;
	}

	/* Comment out to show old scale */
	.range-scale-numbers {
		display: none;
	}

	.range-scale-words {
		display: flex;
		justify-content: space-between;

		font-size: 15px;

		span {
			width: 60px;
			text-align: center;
		}

		span:first-child {
			text-align: left;
		}
		span:nth-child(2) {
			padding-right: 1.5rem;
		}

		span:nth-child(4) {
			padding-left: 1.5rem;
		}

		span:last-child {
			text-align: right;
		}
	}

}

.progress-next-question {
  position: relative;
  width: 100%;         /* or whatever width you need */
  min-height: 2.5rem;  /* at least the button height */

  margin-top: 2.5rem;
}

/* Progress text centered */
.progress-next-question > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // centre both axes
  text-align: center;
}

/* Button on the right */
.progress-next-question .next-question {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;

	@extend .btn-sm;

	padding: 0.5rem 0.25rem 0.5rem 1rem;

	&::after { 
		@include carat;
		flex-shrink: 0;
		width: 32px;
		height: 32px;
		margin-left: 0.5rem;
		transform: rotate(-90deg);

		@include media-breakpoint-up(md) {
			margin-left: 2.5rem;
		}
	}
} 

/* Button on the right */
.progress-next-question .prev-question {
	position: absolute;
	top: 0;
	margin: 0;

	@extend .btn-sm;

	padding: 0.5rem 1rem 0.5rem 0.25rem;

	&::before { 
		@include carat;
		flex-shrink: 0;
		width: 32px;
		height: 32px;
		margin-right: 0.5rem;
		transform: rotate(90deg);

		@include media-breakpoint-up(md) {
			margin-right: 1.5rem;
		}
	}
} 

.result-set {
	h3 {
		padding-bottom: 0.5rem;
		border-bottom: 1px solid $interface-grey;
	}

	h4 {
		margin-top: 1.5rem;
	}
}

#retake-quiz {
	margin: 1.5rem auto;
	margin-bottom: 0;
}

@include color-mode(dark) {
	/* Range control  */

	/* WebKit (Chrome, Edge, Safari) */
	.form-range::-webkit-slider-thumb {
		background: $link-color-dark;          /* thumb colour */
	}

	/* Firefox */
	.form-range::-moz-range-thumb {
		background: $link-color-dark; 
	}

	/* IE/old Edge (if you care) */
	.form-range::-ms-thumb {
		background: $link-color-dark; 
	}
}
