// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/functions";

// 2. Create colour variables, override bootstrap defaults, dark mode mapping
@import "design-system/colour";

$link-hover-decoration: none; 

/* START TYPOGRAPHY variables */

@font-face {
    font-family: 'Museo700';
    src: url("https://rmitlibrary.github.io/cdn/fonts/museo-700.woff2") format("woff");
}

$font-family-sans-serif: "Helvetica Neue", Arial, system-ui, -apple-system, "Segoe UI", Roboto,  "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


/* 
//test this font. would people notice????
.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*/


$font-family-serif: "Museo700", Museo700, serif;

$lead-font-weight: 500;
$enable-rfs: false;             //turn off responsive font scaling

$accordion-border-radius: 0;

@import "bootstrap/bootstrap";





// 3. Add additional code here

//Everything that doesn't fit elsewhere
@import "design-system/utilities";

//Visual language
@import "design-system/space";
@import "design-system/typography";
@import "design-system/links";
@import "design-system/focus";
@import "design-system/forms";

//Simple components
@import 'design-system/button';
@import 'design-system/button-icon';
@import "design-system/accordion";
@import "design-system/blockquote";
@import 'design-system/table';


//Complex components
@import 'design-system/footer';
@import "design-system/breadcrumbs";
@import "design-system/navigation";
@import "design-system/top-nav";
@import 'design-system/video-image';

@import 'design-system/layout';
@import 'design-system/title-icon';


// @import 'design-system/theme-switcher';



// 4. Styles specific to documentation go here (might be worth having a completely seperate stylesheet)

@import "app-specific/base";

//minor adjustments to top bar (add cog icon) and theme-switcher (new drop down syle)
@import "app-specific/top-nav";
@import "app-specific/theme-switcher";

//progress bar styles
@import "app-specific/progress";

//styles for reusable nd-two-col classes and variants (safe space, dig deeper)
@import "app-specific/two-column";

//styles for section landing pages
@import "app-specific/landing";

//styles for home page
@import "app-specific/home";

//styles for quiz
@import "app-specific/quiz-likert";

//styles for quiz
@import "app-specific/build-your-system";


@import "app-specific/slideshow";


@import "app-specific/feature-grid";

@import "app-specific/key-takeaway";

    


