<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ block "title" . }}{{ .Title }}{{ end }}</title>
	<meta name="robots" content="noindex, nofollow">

	<!-- Keep if trialling Hyperlegible -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	{{ $sass := resources.Get "scss/main.scss" | toCSS }}
	<link rel="stylesheet" href="{{ $sass.RelPermalink }}?v=1.3">

	{{ partial "script-head.html" . }}
</head>
<body>
	{{ partial "header.html" . }}

	{{/* Full-width hero/banner slot (optional, per template) */}}
    {{ block "hero" . }}{{ end }}

	<!-- START page-content -->
	<div id="page-content">
		<main class="container">
			<div class="row">
				<div class="col">
					{{ block "main" . }}{{ end }}
				</div>
			</div>
		</main>

		{{ if ne .Params.showAttribution false }}
		<div class="container">
			<p class="content-856px-max small attribution margin-top-md" id="my-attribution">
				Images on this page by <a href="https://rmit.edu.au/">RMIT</a>, licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY-NC 4.0</a>
			</p>
		</div>
		{{ end }}

	{{ partial "footer.html" . }}
	</div>
	<!-- END page-content -->

	{{ partial "script-footer.html" . }}
</body>
</html>


