<header class="top-navigation">
    <div class="container">
        <div class="row">
            <!-- START left hand column -->
            <div class="col-auto left-nav">
                <a href="/skills-for-nd-students/" class="rmit-logo"><span class="visually-hidden">RMIT University</span></a>
                <!-- Explicitly turn off one bit of text and turn on the other to deal with JAWS bug -->
                <!-- <h2>
                    <a href="">
                        <span aria-hidden="true">Optional site title</span>
                        <span class="visually-hidden">Optional site title homepage</span>
                    </a>
                </h2> -->
            </div>
            <!-- END left hand column -->
			<!-- START right hand column -->
<div class="col top-navigation">
    <ul class="navbar-nav flex-row align-items-center">
        <!-- Navigation dropdown -->
		<!-- {{  partial "module-contents-top-nav.html" . }} -->
        <!-- Theme settings button -->
        <li class="nav-item menu">
            <button
                id="theme-switch-button"
                class="btn btn-primary cog"
                type="button"
                aria-expanded="false"
                aria-controls="theme-switcher"
            >
                Click for settings
            </button>
        </li>
    </ul>

    <!--START Dark mode switcher -->
    <div id="theme-switcher" class="theme-switch theme-right-nav theme-compact" hidden>
        <fieldset>
            <legend class="visually-hidden">Theme</legend>
            <span class="theme-label" aria-hidden="true">Theme</span>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="themeOptions" data-bs-theme-value="auto" aria-label="System" id="theme-system">
                <label for="theme-system" class="form-check-label">System</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="themeOptions" data-bs-theme-value="light" aria-label="Light" id="theme-light">
                <label for="theme-light" class="form-check-label">Light</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="themeOptions" data-bs-theme-value="dark" aria-label="Dark" id="theme-dark">
                <label for="theme-dark" class="form-check-label">Dark</label>
            </div>
        </fieldset>
    </div>
    <!-- END Dark mode switcher -->
</div>
<!-- END right hand column -->
        </div>
    </div>
</header>

