{{/* module-contents-nav.html */}}
{{ $section := .CurrentSection }}
{{ if not $section }}
  {{/* Fallback: for _index.html use itself as the section */}}
  {{ $section = .Section }}
{{ end }}

{{/* All child pages of this module, ordered. In this context we want to include brain break */}}
{{ $pages := $section.RegularPages.ByWeight }}
{{/* Total items in the menu: base module page + child pages */}}
{{ $total := add (len $pages) 1 }}

{{ if gt $total 1 }}
<nav class="module-nav margin-top-xl content-856px-max">
  <ul class="link-list">
    {{ $isBaseCurrent := eq $section.RelPermalink $.RelPermalink }}
    {{ range $pages }}
      {{ $isCurrent := eq .RelPermalink $.RelPermalink }}
      <li class="{{ if $isCurrent }} active{{ end }}">
        <a href="{{ .RelPermalink }}"
          {{ if $isCurrent }} aria-current="page"{{ end }}
        >
          {{ .Title }}
        </a>
      </li>
    {{ end }}
  </ul>
</nav>
{{ end }}
